<style type="text/css">
	#dashboard{
		padding: 20px;
	}
</style>


<div ng-controller="SignInController">
	<div id='dashboard'>
		<!-- User Signs In -->
		<form>
			<h1 ng-repeat="i in currentUser">Hello {{ i }}</h1>
			<!-- Keep this user HIDDEN -->
			<input type="hidden" id="name" ng-value="newTopic.user_name=currentUser[0]" >
		</form>
		
		<!-- Display the Topics -->
		<table class="table">
			<tr>
				<th>Category</th>
				<th>Topic</th>
				<th>User Name</th>
				<th>Posts</th>
			</tr>
			<tr ng-repeat="x in allTopics">
				<td>{{ x.category }}</td>
				<!-- if user clicks this topic, will go to that specific topic page -->
				<td><a ng-model='getATopic' ng-click="getATopic(x._id)">{{ x.topic }}</td></a></td>

				<!-- Once user clicks on a name, will go to Profile page -->
				<td><a ng-click="getThisUserProfile(x.user_name)">{{ x.user_name }}</a></td>

				<!-- Show post(answer) count -->
				<td>{{ x.__v }}</td>
			</tr>
		</table>

		<!-- Add new topic here -->
		<form>
			<h3>Add a new Topic</h3>
			<h5>Topic: <input type="text" ng-model="newTopic.topic"></h5>
			<h5>Description:</h5>
			<textarea rows="4" cols="30" ng-model="newTopic.description"></textarea>

			<!-- Category -->
			<h5>Choose your category</h5>
			<select ng-model="newTopic.category">
				<option value="python">Python</option>
				<option value="ruby">Ruby</option>
				<option value="javascript">Javascript</option>
				<option value="php">Php</option>
			</select>

			<!-- Submit -->
			<input type="submit" value="Submit" ng-click="addTopic()">
			<a href="#/"><input type="submit" value="Log Out"></a> 
		</form>
	</div>
</div>