<style type="text/css">
	#answerContainer{
		padding: 20px;
	}
	.indentThis{
		margin-left: 60px;
	}
	.answerBox{
		width: 500px;
		margin-left: 60px;
	}
	.eachanswerBox{
		padding-bottom: 20px;
	}
</style>

<div ng-controller="TopicController" id='answerContainer'>

	<a href="#/"><input type="submit" value="Log Out"></a> 
	<a href="#/dashboard"><input type="submit" value="Back to Dashboard"></a> 

			<h1>{{ thisTopic.user_name }} posted a topic:</h1>
			<h3 class='indentThis'>{{ thisTopic.topic }}</h3>
			<h3 class='indentThis'>{{ thisTopic.description }}</h3>

			<h3>Post your answer here...</h3>

			<div>
				<!-- Posting Answers -->
				<form class='indentThis'>
					<textarea rows='4' cols='60' ng-model='newAnswer.answer'></textarea><br>
					<!-- When user clicks to submit, pass the topic id along -->
					<input type='submit' ng-model='newAnswer' ng-click='newAnswer(thisTopic._id)' value='Post'>
				</form>
			</div>
			

			<!-- Answers Here -->
			<div ng-repeat='x in this_TopicAnswer' align='left' class='answerBox'>
				<div ng-repeat='y in x'>
					<div ng-repeat='z in y' class='eachanswerBox'>
						<h3>{{ z.answer }}</h3>
						<h6>{{ z.user_name }}</h6>
						<input type='submit' ng-click='upvote(z._id)' value='Up vote'>
						

						{{updated_upvote_count.upvote}}




						<input type='submit' ng-click='downvote(z._id)' value='Down vote'>
						{{updated_downvote_count.downvote}}
					</div>
				</div>
			</div>
</div>
 

